@import './../../theme/colors';

.skillDiagram {
    svg {
    }

    text {
color: whitesmoke;
    }

    .grid {
        stroke: rgb(190, 190, 190);
        stroke-opacity: 0.3;
        shape-rendering: crispEdges;
    }
}