@use 'sass:math';
@import './../../theme/colors';
@import './../../theme/keyframes';

@include glow("hover", theme-color('secondary'), 0, 0, 0, 0, 0rem, 1rem);

.sideBar {
  position: absolute;
  min-height: 100vh;
  background-color: theme-color('primary-1');
  transition: background-color 1000ms ease-in-out;

  .logo {
    margin-top: 20px;
  }

  .pointing.secondary.vertical.menu {
    font-family: 'LexendExa';
    margin-top: 0;
    padding-top: 0;
    width: inherit;
    overflow-x: hidden;
    position: absolute;
    top: math.div(100vh, 2.7);

    .sideBarItem {
      color: theme-color('secondary');
      width: inherit;
      text-align: center;
      font-weight: 100;

      &:hover {
        color: theme-color('secondary');
        animation: glow-hover 2s ease-in-out infinite alternate;
        transition: all 0.1s ease-in;
        transition: color 1000ms ease-in-out;
      }

      &.active {
        color: theme-color('secondary');
        font-weight: 900;
        transition: all 0.1s ease-in;
        transition: color 1000ms ease-in-out;
      }
    }
  }
}