@use 'sass:math';
@import './../../theme/colors';
@import './../../theme/keyframes';

$menuBackground: $primary-2;
$menuItemColor: $secondary;
$menuItemActiveColor: $secondary;
$menuItemHoverColor: $secondary;

@include glow("hover", $menuItemHoverColor, 0, 0, 0, 0, 0rem, 1rem);

.sideBar{
    position: absolute;
    background-color: $primary-1;
    min-height: 100vh;

    .logo {
      margin-top: 20px;
    }

    .pointing.secondary.vertical.menu {
      font-family: 'LexendExa';
      margin-top: 0;
      padding-top: 0;
      width: inherit;
    
      overflow-x: hidden;
      position: absolute;
      top: math.div(100vh, 2.7);
    
      .sideBarItem {
        color: $menuItemColor;
        width: inherit;
        text-align: center;
        font-weight: 100;
    
        &:hover {
          color: $menuItemHoverColor;
          animation: glow-hover 2s ease-in-out infinite alternate;
          transition: all 0.1s ease-in;
        }
        &.active {
          font-weight: 900;
          color: $menuItemActiveColor;
          transition: all 0.1s ease-in;
        }
      }
    }
}
