@import './../../theme/colors';

.percentCircleOuter {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        position: absolute;
        text-align: center;
        font-size: 40px;
    }

    .percentCircle {
        fill: none;
        stroke-width: 5px;
        animation-fill-mode: forwards;

        animation: fill-up 3s linear forwards;
    }

    @keyframes fill-up {
        0% {
            stroke-dasharray: 0 100;
        }
    }
}