@import './theme/colors';

.animatedBackground {
    position: fixed;
    background-position-x: 0;
    background-position-y: 0;
    background-color: theme-color('primary');
    transition: background-color 1000ms ease-in-out;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}