@import './theme/colors';
@import './theme/util';


.projectListElement {
    $size: 260px;

    width: $size;
    height: $size;
    margin: 10px;
    overflow: hidden;
    border-style: solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;

    &:hover {
        color: transparent;
        width: $size + 20px;
        height: $size + 20px;
        margin: 0;
    }

    .container {
        position: absolute;
        text-align: center;
        width: inherit;
        height: $size * 0.3;
        font-size: 20px;
        padding: 1rem;
        background-color: white;
        opacity: 0.5;
    }

    p {
        position: absolute;
        text-align: center;
        width: inherit;
        font-size: 20px;
        padding: 1rem;
        color: #222222;
        opacity: 0.8;
        text-shadow: 0.15rem 0.15rem 0.3rem theme-color('text-shadow-color');
    }

    .previewImage {
        filter: blur(4px);
        -webkit-filter: blur(4px);
        width: inherit;
        height: inherit;
        object-fit: cover;
    }

    .placeholderImage {
        object-fit: cover;
        transform: rotate(-45deg);
        width: calc(100% + 350px);
        height: calc(100% + 350px);
        margin-left: -125px;
        margin-top: -125px;
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.1),
                rgba(255, 255, 255, 0));
        background-size: 125px 150%;

        transition-timing-function: ease-in;
        animation: shimmer 4s infinite;
        background-repeat: no-repeat;
        background-position: 0 0;
    }
}

@keyframes shimmer {
    0% {
        opacity: 0;
        background-position: top left;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        background-position: top right;
    }
}