.projectList {
    position: absolute;
    padding: 7rem;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    p {
        color: white;
        text-align: center;
    }
    .projectListElement {
        border-style: solid;
        border-radius: 2px;
    }
}
