@import './../../theme/colors';
@import './../../theme/util';


.projectListElement {
    $size: 260px;

    width: $size;
    height: $size;
    margin: 10px;
    overflow: hidden;
    border-style: solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;

    &:hover {
        color: transparent;
        width: $size + 20px;
        height: $size + 20px;
        margin: 0;
    }

    .container {
        position: absolute;
        text-align: center;
        width: inherit;
        height: $size * 0.3;
        font-size: 20px;
        padding: 1rem;
        background-color: white;
        opacity: 0.5;
    }

    p {
        position: absolute;
        text-align: center;
        width: inherit;
        font-size: 20px;
        padding: 1rem;
        color: #222222;
        opacity: 0.8;
        text-shadow: 0.15rem 0.15rem 0.3rem theme-color('text-shadow-color');
    }

    .previewImage {
        filter: blur(4px);
        -webkit-filter: blur(4px);
        width: inherit;
        height: inherit;
        object-fit: cover;

    }
}