.projectList {
    position: relative;
    padding: 7rem;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    p {
        color: white;
        text-align: center;
    }
    .projectListElement {
        border-style: solid;
        border-radius: 2px;
    }
}
