@import './../../theme/colors';
@import './../../theme/util';


.projectListElement {
    width: 250px;
    height: 250px;
    margin: 10px;
    overflow: hidden;
    border-style: solid;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: transparent;

    &:hover {
        color: transparent;
        width: 250px + 20px;
        height: 250px + 20px;
        margin: 0;
    }

    p {
        position: absolute;
        text-align: center;
        width: 250px;
        font-size: 20px;
        padding: 1rem;
        padding-right: 100;
        
        transition: 0.5s;
        text-shadow: 0.15rem 0.15rem 0.3rem theme-color('text-shadow-color');
    }

    .previewImage {
        filter: blur(4px);
        -webkit-filter: blur(4px);
        width: inherit;
        height: inherit;
        object-fit: cover;

    }
}